.card-footer{
    padding: 0px;
    background: #fff;

}
.card{
    margin-bottom: 30px;
    width: 20rem;
    min-width: 318px;
}
.card-img-top { 
    height: 250px;
} 
.card-footer button {
    cursor: pointer;
    text-transform: uppercase;
}
@media only screen and (max-width: 765px) {
   .card{
       width: unset;
   }
 }